%li.span3{data: { id: dom_id(ruzz) }}
  = link_to "#", class: "thumbnail" do
    = image_tag ruzz.thumb_url
  %strong
    = ruzz.user.full_name
  %span.pull-right
    %i{class: "icon-thumbs-up"}
    %span.likes_count
      = ruzz.likes_count
    - if user_signed_in?
      -if ruzz.liked_by?(current_user)
        = form_for [ruzz, ruzz.likes.where(user: current_user).first], html: { method: :delete }, remote: true do |f|
          = link_to "Unlike!", "#"
      - else
        = form_for [ruzz, ruzz.likes.build(user: current_user)], remote: true do |f|
          = f.hidden_field :ruzz_id
          = f.hidden_field :user_id
          = link_to "Like!", "#"
