= content_for :page_header do
  .page-header
    %h1
      Ruzz at your own risk

= simple_form_for @image, url: ruzzes_path do |f|
  = f.error_notification

  .inputs
    = f.input :asset
    = f.input :asset_cache, as: :hidden

    = f.simple_fields_for :ruzz_attributes do |r|
      = r.input :user_id, as: :hidden, input_html: { value: @ruzz.user_id }
      = r.input :name
      = r.input :description

  .actions
    = f.button :wrapped, "Ruzz!!!", class: "btn-primary"
