$("li[data-id=<%= dom_id(@ruzz) %>]").replaceWith("<%= escape_javascript(render @ruzz) %>");
$("li[data-id=<%= dom_id(@ruzz) %>] form a").on("click", function(event) {
  event.preventDefault()
  $(this).closest("form").submit()
});
