= link_to "RuzziT", root_path, class: "brand brand-bootbus"

%button{type: "button", class: "btn btn-navbar", :"data-toggle" => "collapse", :"data-target" => ".nav-collapse"}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar

.nav-collapse.collapse
  %ul{class: "nav pull-right"}
    - if user_signed_in?
      %li
        = link_to(new_ruzz_path, class: "btn-primary") do
          %i{class: "icon-pushpin"}
          Ruzz!
      %li
        = link_to(edit_user_registration_path) do
          %i{class: "icon-home"}
          Account
    - else
      %li
        = link_to(new_user_registration_path) do
          %i{class: "icon-user"}
          Sign up

    - if user_signed_in?
      %li
        = link_to(destroy_user_session_path, method: "delete") do
          %i{class: "icon-signout"}
          Sign out
    - else
      %li
        = link_to(new_user_session_path) do
          %i{class: "icon-signin"}
          Sign in
