!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: content_for?(:description) ? yield(:description) : "RuzziT", name: "description"}/
    %meta{content: "Giannicola Olivadoti", name: "author"}/
    %title= content_for?(:title) ? yield(:title) : "RuzziT"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            = render "layouts/navigation"
    .content{role: "main"}
      .container
        = yield :page_header
        .row
          .span12
            = render "layouts/messages"
            = yield
    %footer
      .container
        .row
          .span12
            %p{class: "pull-right"}
              Powered by
              %strong Ruby on Rails
            %p
              © Copyright 2013 oli-g
